 .mapboxgl-popup-content {
          padding: 0 !important;
          border-radius: 12px !important;
          background: transparent !important;
          box-shadow: none !important;
        }
        .mapboxgl-popup-close-button {
          right: 5px;
          top: 5px;
          color: white;
          background: rgba(0,0,0,0.3);
          border-radius: 50%;
          width: 20px;
          height: 20px;
          z-index: 10;
        }