// primary colors
$primary-50:  #fbeaec;
$primary-100: #f4cfd5;
$primary-200: #e79fab;
$primary-300: #d66b7c;
$primary-400: #b9334f;
$primary-500: #64011E; 
$primary-600: #520018;
$primary-700: #3f0013;
$primary-800: #2b000d;
$primary-900: #1a0008;

// secondary colors
$surface-50:  #FCEDD0;  
$surface-100: #f7e1bd;

//text colors
$text-heading: #64011E;
$text-primary: #3a0a14;
$text-secondary: #6b2a35;
$text-on-primary: #FCEDD0;
$text-muted: #9b6b73;
