@import '../abstracts/colors';

.text-heading {
    color: $text-heading;
}

.text-primary {
    color: $text-primary;
}

.text-secondary {
    color: $text-secondary;
}

.text-on-primary {
    color: $text-on-primary;
}

.text-accent-600 {
    color: $accent-600;
}